body {
  background: #eee;
  font-family: "Arial";
}

#main h1 {
  color: #444;
  text-align: center;
}

#main {
  padding:0;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}

#minister-list {
  padding:0;
}

#minister-list li {
  display: inline-block;
  margin: 10px;
  padding: 15px 10px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 1px 2px 3px rgb(0, 0, 0);
  cursor: pointer;
  color: black;
}

#minister-list li:active {
  color: #fff;
  background: #000;
}

#minister-details {
  position: fixed;
  top:0;
  right:0;
  width: 40%;
  height: 100%;
  background: linear-gradient(green, rgb(198, 242, 22));
  padding: 30px;
  overflow: auto;
  /* box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.3); */
  box-sizing: border-box;
  color: #fff;
  z-index: 1;
}
